# API Configuration
NEXT_PUBLIC_API_BASE_URL=http://localhost:5001

# Auth Server (Spring Authorization Server)
AUTH_SERVER_BASE_URL=http://localhost:9000
NEXT_PUBLIC_AUTH_SERVER_BASE_URL=http://localhost:9000
NEXT_PUBLIC_APP_URL=http://localhost:3000

# OAuth2 Client (nextjs-app)
OAUTH2_CLIENT_ID=nextjs-app
OAUTH2_CLIENT_SECRET=changeme
OAUTH2_REDIRECT_URI=http://localhost:3000/api/auth/callback

# Security
NEXT_SERVER_ACTIONS_ENCRYPTION_KEY=q9b+KnTOpB3c7n4jgQYb6yL6j5eLmkloHZB/Q4+4Y3A=
